.treeView {
    overflow: visible;
    width: 100%;
}

.skeletonLoadingContainer {
    width: 100%;
    padding: 3rem;
}

@media (max-width: 600px) {
    .skeletonLoadingContainer {
        padding: 1rem;
    }
}
