apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}-api
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "api") | nindent 4 }}
    app.kubernetes.io/component: "api"
spec:
  replicas: {{ .Values.api.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "app.name" . }}-api
  template:
    metadata:
      labels:
        app: {{ include "app.name" . }}-api
        {{- include "app.labels.custom" (dict "context" . "component" "api") | nindent 8 }}
    spec:
      initContainers:
        - name: check-elasticsearch-ready
          image: {{ .Values.image.registry }}/{{ .Values.api.initContainer.image.repository }}:{{ default (default .Chart.AppVersion .Values.image.tag) .Values.api.initContainer.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - 'sh'
            - '-c'
            - |
              set -eu

              until nc -vz {{ include "app.fullname" . }}-elasticsearch {{ .Values.elasticsearch.service.port }}; do
                echo "Waiting for elasticsearch service";
                sleep 1;
              done;
          {{- if .Values.api.initContainer.resources }}
          resources: {{- toYaml .Values.api.initContainer.resources | nindent 12 }}
          {{- end }}
        {{- if .Values.translate.enabled }}
        - name: check-translate-ready
          image: {{ .Values.image.registry }}/{{ .Values.api.initContainer.image.repository }}:{{ default (default .Chart.AppVersion .Values.image.tag) .Values.api.initContainer.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - 'sh'
            - '-c'
            - |
              set -eu

              until nc -vz {{ include "app.fullname" . }}-translate {{ .Values.translate.service.port }}; do
                echo "Waiting for translate service";
                sleep 1;
              done;
          {{- if .Values.api.initContainer.resources }}
          resources: {{- toYaml .Values.api.initContainer.resources | nindent 12 }}
          {{- end }}
        {{- end }}
      containers:
        - name: api
          image: {{ .Values.image.registry }}/{{ .Values.api.image.repository }}:{{ default (default .Chart.AppVersion .Values.image.tag) .Values.api.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.api.service.port }}
          envFrom:
            - configMapRef:
                name: {{ include "app.fullname" . }}-settings
          {{- if .Values.api.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: /docs
              port: {{ .Values.api.service.port }}
            initialDelaySeconds: {{ default 3 .Values.api.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ default 20 .Values.api.readinessProbe.periodSeconds }}
            failureThreshold: {{ default 3 .Values.api.readinessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.api.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: /docs
              port: {{ .Values.api.service.port }}
            initialDelaySeconds: {{ default 3 .Values.api.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ default 20 .Values.api.livenessProbe.periodSeconds }}
            failureThreshold: {{ default 6 .Values.api.livenessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.api.resources }}
          resources: {{- toYaml .Values.api.resources | nindent 12 }}
          {{- end }}
