apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-api
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "api") | nindent 4 }}
    app.kubernetes.io/component: "api"
spec:
  ports:
    - port: {{ .Values.api.service.port }}
      name: api
      targetPort: {{ .Values.api.service.port }}
  selector:
    app: {{ include "app.name" . }}-api
