.ellipsisButton {
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: start;

    transition:
        transform 0.2s ease,
        opacity 0.2s ease;

    padding: 0;
    margin: 0 0.5rem;
    height: 1.25rem;
}
.ellipsisButton svg {
    margin-top: 0.1rem;
    border: 1px solid #31312e;
    color: white;

    /*background-color: #ffbf00;*/
    background-color: #31312e;
    border-radius: 1rem;
    width: 1.25rem;
    height: 1rem;
}

.ellipsisButton:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.ellipsisButton:active {
    transform: scale(0.95);
}
