.contentWrapper {
    padding: 10px;
    overflow: auto;
    white-space: pre;
}

.optionsButton {
    position: absolute;
    right: 0;
}

.translationTabButton {
    display: flex;
    align-items: center;
}
