.mobileLeftGroup {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.mobileRightGroup {
    display: flex;
    flex-direction: row;
}

.iconButtonBottom {
    position: relative;
    flex: 1;
    height: 3rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 0 !important;
    min-width: 2.5rem;
}

.iconButtonBottom.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: currentColor;
}
