{{- if .Values.translate.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}-translate
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "translate") | nindent 4 }}
    app.kubernetes.io/component: translate
spec:
  {{- if not .Values.translate.hpa.enabled }}
  replicas: {{ .Values.translate.replicaCount }}
  {{- end}}
  selector:
    matchLabels:
      app: {{ include "app.name" . }}-translate
  template:
    metadata:
      labels:
        app: {{ include "app.name" . }}-translate
        {{- include "app.labels.custom" (dict "context" . "component" "translate") | nindent 8 }}
    spec:
      containers:
        - name: translate
          image: {{ .Values.image.registry }}/{{ .Values.translate.image.repository }}:{{ default (default .Chart.AppVersion .Values.image.tag) .Values.translate.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "--bind"
            - "0.0.0.0:{{ .Values.translate.service.port }}"
            - "--timeout"
            - {{ .Values.translate.timeout | quote }}
            - "--worker-class"
            - "gevent"
            - "--workers"
            - "2"
            - "--max-requests"
            - "1024"
            - "--max-requests-jitter"
            - "1024"
            - "--access-logfile"
            - "-"
            - "wsgi:app(frontend_title='{{ include "app.name" . }}-translate', metrics=True)"
          ports:
            - name: translate
              containerPort: {{ .Values.translate.service.port }}
          env:
            - name: ARGOS_DEVICE_TYPE
              value: {{ .Values.translate.env.ARGOS_DEVICE_TYPE | quote }}
          {{- if .Values.translate.readinessProbe.enabled }}
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - python scripts/healthcheck.py
            initialDelaySeconds: {{ default 0 .Values.translate.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ default 10 .Values.translate.readinessProbe.timeoutSeconds }}
            periodSeconds: {{ default 20 .Values.translate.readinessProbe.periodSeconds }}
            failureThreshold: {{ default 3 .Values.translate.readinessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.translate.livenessProbe.enabled }}
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - python scripts/healthcheck.py
            initialDelaySeconds: {{ default 0 .Values.translate.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ default 90 .Values.translate.livenessProbe.timeoutSeconds }}
            periodSeconds: {{ default 500 .Values.translate.livenessProbe.periodSeconds }}
            failureThreshold: {{ default 6 .Values.translate.livenessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.translate.resources }}
          resources: {{- toYaml .Values.translate.resources | nindent 12 }}
          {{- end }}
{{- end }}