{{- if and .Values.translate.enabled .Values.translate.hpa.enabled -}}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "app.fullname" . }}-translate
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "translate") | nindent 4 }}
    app.kubernetes.io/component: "celery"
spec:
  maxReplicas: {{ .Values.translate.hpa.maxReplicas }}
  minReplicas: {{ .Values.translate.hpa.minReplicas }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "app.fullname" . }}-translate
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ .Values.translate.hpa.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.translate.hpa.targetCPUUtilizationPercentage }}
{{- end }}