apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-translate
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "translate") | nindent 4 }}
    app.kubernetes.io/component: translate
spec:
  ports:
    - port: {{ .Values.translate.service.port }}
      name: translate
      targetPort: {{ .Values.translate.service.port }}
  selector:
    app: {{ include "app.name" . }}-translate
