.tagsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
}

.open {
    flex-direction: row;
}

.closed {
    flex-direction: column;
}

.tagChip {
    cursor: pointer;
}
