apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-beat
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "beat") | nindent 4 }}
    app.kubernetes.io/component: "beat"
spec:
  ports:
    - port: {{ .Values.beat.service.port }}
      name: worker-beat
      targetPort: {{ .Values.beat.service.port }}
  selector:
    app: {{ include "app.name" . }}-beat
