div.nameWithIcon {
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: left;
}

div.customQueryIconSelect {
    margin-right: 1rem;
}

div.customQueryNameInput {
    width: 100%;
}
