.savedQueries button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.savedQueries div button .btn-label {
    flex: 1;
}

.savedQueries > div > button > .MuiButton-startIcon {
    justify-self: flex-start;
}

.savedQueriesName {
    vertical-align: middle;
}
