{{- if .Values.redis.ingress.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: {{ include "app.fullname" . }}-redis
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "redis") | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  entryPoints:
    - redis
  routes:
    - match: HostSNI(`*`)
      services:
        - name: {{ include "app.fullname" . }}-redis
          port: {{ .Values.redis.service.port }}
{{- end }}
