apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}-grafana
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "grafana") | nindent 4 }}
    app.kubernetes.io/component: monitoring
data:
  elasticsearch-logs.yml: |
    apiVersion: 1
    datasources:
      - name: Elasticsearch-Log
        type: elasticsearch
        access: proxy
        # Access mode - proxy (server in the UI) or direct (browser in the UI).
        url: http://{{ include "app.fullname" . }}-elasticsearch:{{ .Values.elasticsearch.service.port }}
        jsonData:
          index: ".ds-docker-logs-*"
          timeField: "@timestamp"
          logMessageField: log
  elasticsearch-file.yml: |
    apiVersion: 1
    datasources:
      - name: Elasticsearch-File
        type: elasticsearch
        access: proxy
        # Access mode - proxy (server in the UI) or direct (browser in the UI).
        url: http://{{ include "app.fullname" . }}-elasticsearch:{{ .Values.elasticsearch.service.port }}
        jsonData:
          index: "file"
          timeField: "uploaded_datetime"
  prometheus.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        # Access mode - proxy (server in the UI) or direct (browser in the UI).
        url: http://{{ include "app.fullname" . }}-prometheus:{{ .Values.prometheus.service.port }}
        jsonData:
          httpMethod: POST
          manageAlerts: true
          prometheusType: Prometheus
          prometheusVersion: 2.51.2
          cacheLevel: "High"
          disableRecordingRules: false
          incrementalQueryOverlapWindow: 10m