apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "app.fullname" . }}-dovecot
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "dovecot") | nindent 4 }}
    app.kubernetes.io/component: dovecot
spec:
  serviceName: {{ include "app.fullname" . }}-dovecot
  replicas: {{ .Values.dovecot.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "app.name" . }}-dovecot
  template:
    metadata:
      labels:
        app: {{ include "app.name" . }}-dovecot
        {{- include "app.labels.custom" (dict "context" . "component" "dovecot") | nindent 8 }}
    spec:
      initContainers:
        - name: fix-perms
          image: {{ .Values.image.registry }}/{{ .Values.dovecot.initContainer.image.repository }}:{{ default (default .Chart.AppVersion .Values.image.tag) .Values.dovecot.initContainer.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - 'sh'
            - '-c'
            - |
              chown 0:1000 /srv/mail;
              chmod 0775 /srv/mail;
          volumeMounts:
            - mountPath: /srv/mail
              name: dovecot
          {{- if .Values.dovecot.initContainer.resources }}
          resources: {{- toYaml .Values.dovecot.initContainer.resources | nindent 12 }}
          {{- end }}
      containers:
        - name: dovecot
          image: {{ .Values.image.registry }}/{{ .Values.dovecot.image.repository }}:{{ default (default .Chart.AppVersion .Values.image.tag) .Values.dovecot.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: imap
              containerPort: {{ .Values.dovecot.service.port.imap }}
              protocol: TCP
            #- name: submission
            #  containerPort: {{ .Values.dovecot.service.port.submission }}
            #  protocol: TCP
          # securityContext:
          #   fsGroup: 2000
          volumeMounts:
            - mountPath: /srv/mail
              name: dovecot
          {{- if .Values.dovecot.resources }}
          resources: {{- toYaml .Values.dovecot.resources | nindent 12 }}
          {{- end }}
  volumeClaimTemplates:
    - metadata:
        name: dovecot
      spec:
        accessModes:
          - {{ .Values.dovecot.pvc.accessModes | default "ReadWriteOnce" | quote }}
        resources:
            requests:
              storage: {{ .Values.dovecot.pvc.storage }}
        {{- if .Values.dovecot.pvc.storageClass -}}
        storageClassName: {{ .Values.dovecot.pvc.storageClass }}
        {{- end }}
