.searchWrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    max-height: 100%;
}

.mainView {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    max-height: 100%;
}

.searchResultWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    align-items: stretch;
    box-shadow:
        inset 5px -4px 4px 0px rgba(0, 0, 0, 0.2),
        0px -1px 0px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    scroll-behavior: smooth;
}
