{{- if and .Values.open_webui.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-open-webui
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "openWebui") | nindent 4 }}
    app.kubernetes.io/component: open-webui
spec:
  ports:
    - port: {{ .Values.open_webui.service.port }}
      name: openwebui
      targetPort: {{ .Values.open_webui.service.port }}
  selector:
    app: {{ include "app.name" . }}-open-webui
{{- end }}