.resultHighlightText em {
    font-style: normal;
    background: #ffc107;
    padding: 0.25rem;
    border-radius: 0.5rem;
    max-width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
    .resultHighlightText em {
        background: #a07800;
    }
}

.highlightWrapper {
    white-space: pre-wrap;
}

.highlightWrapper + .highlightWrapper {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed var(--mui-palette-divider);
}
