{{- if .Values.fluentd.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "app.fullname" . }}-fluentd
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "fluentd") | nindent 4 }}
    app.kubernetes.io/component: monitoring
{{- end }}
