apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-tika
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "tika") | nindent 4 }}
    app.kubernetes.io/component: tika
spec:
  ports:
    - port: {{ .Values.tika.service.port }}
      name: tika
      targetPort: {{ .Values.tika.service.port }}
  selector:
    app: {{ include "app.name" . }}-tika
