apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "app.fullname" . }}-pre-install
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "app.fullname" . }}-pre-install
subjects:
  - kind: ServiceAccount
    name: {{ include "app.fullname" . }}-pre-install
    namespace: {{ .Release.Namespace }}