apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "app.fullname" . }}-pre-install
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "") | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded