.fileActions {
    display: flex;
    flex-direction: row;
}

.fileActionButtons {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.fileActionButtons > * {
    cursor: pointer;
    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
}

.fileActionButtons > *:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
