apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}-rspamd
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "rspamd") | nindent 4 }}
    app.kubernetes.io/component: rspamd
spec:
  replicas: {{ .Values.rspamd.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "app.name" . }}-rspamd
  template:
    metadata:
      labels:
        app: {{ include "app.name" . }}-rspamd
        {{- include "app.labels.custom" (dict "context" . "component" "rspamd") | nindent 8 }}
    spec:
      # Disable DNS for pod:
      # Rspamd will lookup spam lists using
      # DNS, and this is really not something
      # we want to do here (possible data-leak).
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 127.0.0.1
        searches: []
        options: []
      containers:
        - name: rspamd
          image: {{ .Values.image.registry }}/{{ .Values.rspamd.image.repository }}:{{ default (default .Chart.AppVersion .Values.image.tag) .Values.rspamd.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: worker
              containerPort: {{ .Values.rspamd.worker.service.port }}
            - name: controller
              containerPort: {{ .Values.rspamd.controller.service.port }}
          {{- if .Values.rspamd.resources }}
          resources: {{- toYaml .Values.rspamd.resources | nindent 12 }}
          {{- end }}
