.globalSearchBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    flex: 1;
    min-width: 0;
    width: 100%;
    align-self: center;
    align-items: center;
}

.globalSearchBox.sortVisible {
    grid-template-columns: minmax(0, 1fr) 12rem;
}

@media (max-width: 800px) {
    .globalSearchBox.sortVisible {
        grid-template-columns: 4fr 2fr;
    }
}

@media (max-width: 600px) {
    .globalSearchBox.sortVisible {
        grid-template-columns: 1fr;
    }
}

.sortInputWrapper {
    display: none;
    min-width: 0;
    width: 100%;
}

.sortInputWrapper.visible {
    display: flex;
    align-items: center;
}
