span.clickable {
    cursor: pointer;
}
false span.clickable:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: #b2ebf2;
}

span.clickable:active {
    cursor: pointer;
    border-radius: 4px;
    background-color: #80deea;
}

span.highlighted {
    background-color: #fff176;
    color: rgb(158, 158, 158);
}

@media (prefers-color-scheme: dark) {
    span.clickable:hover {
        background-color: #00838f;
    }

    span.clickable:active {
        background-color: #00acc1;
    }

    span.highlighted {
        background-color: #f9a825;
        color: #e0e0e0;
    }
}
