.cardContainer {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    overflow: visible;
}

.skeletonLoadingContainer {
    width: calc(100% - 2rem);
    padding: 1rem;
}

@media (max-width: 600px) {
    .cardContainer {
        padding: 0.5rem;
        gap: 0.5rem;
    }

    .skeletonLoadingContainer {
        width: calc(100% - 1rem);
        padding: 0.5rem;
    }
}

.skeletonLoadingAvatar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
}
