.app {
    overflow: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.loadingIndicator {
    z-index: 1100;
    top: 0;
}

.loadingIndicatorPlaceholder {
    min-height: 4px;
    background-color: var(--mui-palette-secondary-main);
}

.globalSearchBoxWrapperPlaceholder {
    flex-grow: 1;
}

.pageContainer {
    max-width: 1200px;
    margin: 0 auto;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgba(201, 190, 190, 0.4);
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background-color: rgba(60, 60, 58, 0.6);
    }
}

::-webkit-scrollbar-thumb {
    background-color: #31312e;
    border-radius: 1rem;
    border: 5px solid transparent;
    background-clip: content-box;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: #5a5a57;
    }
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555552;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb:hover {
        background-color: #7a7a77;
    }
}
