{{- if .Values.mongodb.ingress.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: {{ include "app.fullname" . }}-mongodb
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "mongodb") | nindent 4 }}
    app.kubernetes.io/component: mongodb
spec:
  entryPoints:
    - mongo
  routes:
    - match: HostSNI(`*`)
      services:
        - name: {{ include "app.fullname" . }}-mongodb
          port: {{ .Values.mongodb.service.port }}
{{- end }}
