apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-mongodb
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "mongodb") | nindent 4 }}
    app.kubernetes.io/component: mongodb
spec:
  ports:
    - port: {{ .Values.mongodb.service.port }}
      name: mongodb
      targetPort: {{ .Values.mongodb.service.port }}
  selector:
    app: {{ include "app.name" . }}-mongodb
