apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}-roundcube
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "roundcube") | nindent 4 }}
    app.kubernetes.io/component: roundcube
spec:
  replicas: {{ .Values.roundcube.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "app.name" . }}-roundcube
  template:
    metadata:
      labels:
        app: {{ include "app.name" . }}-roundcube
        {{- include "app.labels.custom" (dict "context" . "component" "roundcube") | nindent 8 }}
    spec:
      containers:
        - name: roundcube
          image: {{ .Values.image.registry }}/{{ .Values.roundcube.image.repository }}:{{ default (default .Chart.AppVersion .Values.image.tag) .Values.roundcube.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: roundcube
              containerPort: {{ .Values.roundcube.service.port }}
          env:
            - name: ROUNDCUBEMAIL_DEFAULT_HOST
              value: {{ include "app.fullname" . }}-dovecot
          volumeMounts:
            - name: roundcube-config
              mountPath: /usr/local/etc/php/conf.d/zzz_roundcube-custom.ini
              readOnly: true
              subPath: zzz_roundcube-custom.ini
          {{- if .Values.roundcube.resources }}
          resources: {{- toYaml .Values.roundcube.resources | nindent 12 }}
          {{- end }}
      volumes:
        - name: roundcube-config
          configMap:
            name:  {{ include "app.fullname" . }}-roundcube-php-config