apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-rabbit
  labels:
    {{- include "app.labels.custom" (dict "context" . "component" "rabbit") | nindent 4 }}
    app.kubernetes.io/component: rabbit
spec:
  ports:
    - port: {{ .Values.rabbit.service.port.amqp }}
      name: amqp
      targetPort: {{ .Values.rabbit.service.port.amqp }}
    - port: {{ .Values.rabbit.service.port.http }}
      name: http
      targetPort: {{ .Values.rabbit.service.port.http }}
    - port: {{ .Values.rabbit.service.port.prometheus }}
      name: prometheus
      targetPort: {{ .Values.rabbit.service.port.prometheus }}
  selector:
    app: {{ include "app.name" . }}-rabbit
