.loadMoreButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem 2rem;
    gap: 1rem;
}

@media (max-width: 600px) {
    .loadMoreButtonWrapper {
        margin: 0 0.75rem 1.5rem;
    }
}

.loadMoreSpinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
