.archivesWrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    max-height: 100%;
}

.archivesContainer {
    margin-top: 2rem;
    overflow-y: auto;
    flex: 1;
}

.archivesContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}
